<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" formControlName="email" />
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
  </form>

  <div style="margin-top: 10px;">
    <button type="button" (click)="irARegistro()">¿No tienes cuenta? Regístrate</button>
  </div>
</div>
